// body {
  
//   position: absolute;
//   top: 0;
//   left: 0;
//   margin: 0;
//   padding: 20px;
//   font: 14px "Helvetica Neue", Helvetica, Arial, sans-serif;
// }

body {
  background-color: rgba(211, 211, 211, 0.762);
  top: 0;
  left: 0;
  margin: 0;
  height: 100%;
}



#app > section > div > div > figure > img {
  max-width: 23vw;
}

#app > section > div > div > figure > img:hover {
  transition: .3s;
  max-width: 26vw;

}

